@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.story-container {
	height: 100%;
	margin: 0 !important;
}

.story-div {
	background-color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 5px;
	border: 1px solid rgb(7, 7, 7);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	width: 80%;
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.story-page-title {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 50px;
	text-align: left;
	width: 100%;
}

.story-page-author {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 200;
	text-align: left;
	width: 100%;
	color: rgba(117, 117, 117, 1);
	font-weight: 800;
}

.author-name {
	color: rgba(102, 138, 170, 1);
}

.main-body-div {
	background-color: blue;
	width: 100%;
}

.story-body > p {
	/* background-color: green; */
	width: 100%;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

div > .story-body {
	font-size: 50px !important;
}

.like-wrapper {
	justify-content: center;
	display: flex;
	align-content: center;
	align-items: center;
	margin:0;
	padding:0 !important;
}

.clap-icon {
	padding: 5px;
	border: 1px solid #fec017;
	cursor: pointer;
	color: #fec017;
	border-radius: 100%;
	background-color: white;
	box-shadow: rgba(184, 127, 6, 0.25) 0px 54px 55px, rgba(200, 141, 14, 0.12) 0px -12px 30px, rgba(211, 129, 36, 0.12) 0px 4px 6px, rgba(214, 147, 23, 0.17) 0px 12px 13px, rgba(221, 160, 18, 0.09) 0px -3px 5px;
}

.clap-icon:hover {
	cursor: pointer;
	color: #ffce49;
}

.clap-icon:active {
	color: white;
	background-color: #ffce49;
	box-shadow: none;
}

.comment-icon {
	font-size: 30px;
	padding: 5px;
	border: 1px solid #ffffff;
	cursor: pointer;
	color: #ffffff;
	border-radius: 100%;
	background-color: rgb(0, 0, 0);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.comment-icon:active {
	color: rgb(5, 5, 5);
	background-color: #ffffff;
	box-shadow: none;
	border: 1px solid #000000;
}
.comments-container {
	width: 100%;
}

.comment-box {
	border-bottom: 1px solid #efefef;
	border-top: 1px solid #efefef;
}
.comment-icon:hover {
	cursor: pointer;
	color: #e0e0e0;
}
.like-text {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 17px;
	color: rgba(117, 117, 117, 1);
}

.total-text {
	margin-right: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 17px;
	color: rgba(117, 117, 117, 1);
}

.hide{
	display: none;
}