.card {
	background: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	width: 250px;
	margin: 5px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #080808;
	border-left: 1px solid #000000;
	border-radius: 10px;
	padding: 5px;
	padding-left: 15px;
	box-shadow: rgba(0, 0, 0, 0.445) 0px 20px 30px -10px;
	margin-bottom: 30px;
	overflow: scroll;
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-author {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #000000;
}
.most-recent-div {
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	padding-bottom: 40px;
}

.card-number {
	color: #000000;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	border-bottom: 7px solid #000000;
	width: 45px;
	font-size: 40px;
}

.card-title {
	font-size: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.card-title:hover {
	font-size: 30px !important;
	text-shadow: none;
}

.stories-header {
	font-size: 50px;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 40px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	width: 60%;
	text-align: center;
	color: #000000 !important;
	margin-bottom: 40px;
	background-color: #ffcb3a;
	border: 1px solid black;
}

.cards-wrapper {
	width: 100%;
	margin: 0;
	color: #000000;
	background-color: #ffcb3a !important;
}

.title-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media only screen and (min-width: 1000px) {
	.card {
		height: 150px;
		width: 250px;
		margin: 5px;
		margin-bottom: 30px;
	}

	.cards-wrapper {
		background-color: white;
		width: 100%;
		margin: 0;
	}

	.most-recent-div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		width: 100%;
	}
}

@media only screen and (min-width: 1200px) {
	.card {
		height: 250px;
		width: 450px;
		margin: 5px;
		margin-bottom: 30px;
	}

	.cards-wrapper {
		background-color: white;
		width: 100%;
		margin: 0;
	}

	.most-recent-div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		width: 100%;
	}
}
