.card {
	height: 150px;
	width: 250px;
	background-color: white;
	margin: 5px;
	border: none;
}

.most-recent-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card-number {
	color: #e6e6e6;
	font-family: "Open Sans", sans-serif;
}

.card-title {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.card-title:hover {
	font-size: 18px;
	text-shadow: none;
}

.stories-header {
	font-size: 14px;
	margin-left: 40px;
	margin-top: 0 !important;
	font-family: "Open Sans", sans-serif;
}

.cards-wrapper {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: blue;
}

@media only screen and (min-width: 1000px) {
	.card {
		height: 300px;
		width: 400px;
		background-color: white;
		margin: 5px;
		border: none;
	}

	.cards-wrapper {
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: blue;
	}
}

@media only screen and (min-width: 1200px) {
	.card {
		height: 300px;
		width: 400px;
		background-color: white;
		margin: 5px;
		border: none;
	}

	.cards-wrapper {
		padding-left: 7%;
		padding-right: 7%;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: blue;
	}
}
