.card {
	height: 150px;
	width: 250px;
	background-color: white;
	margin: 5px;
	border: none;
}

.most-recent-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card-number {
	color: #e6e6e6;
	font-family: "Open Sans", sans-serif;
}

.card-title {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.card-title:hover {
	font-size: 18px;
	text-shadow: none;
}

.stories-header {
	font-size: 14px;
	margin-left: 40px;
	margin-top: 20px;
	font-family: "Open Sans", sans-serif;
}
