.Logged_out_header {
	margin: 0 !important;
	display: flex;
	background-color: #fec017;
	justify-content: space-around;
	border-bottom: 1px solid black;
	height: 400px;
	padding-left: 15%;
	padding-right: 15%;
}

.getting-started {
	margin: 0 !important;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	justify-content: space-around;
	padding-left: 15%;
	padding-right: 15%;
}

.header_image {
	height: 400px;
}

.header_title {
	font-size: 70px;
	font-weight: 400;
	font-family: "Source Serif Pro", serif;
}

.header_text {
	font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1000px) {
	.Logged_out_header {
		margin: 0 !important;
		display: flex;
		background-color: #fec017;
		justify-content: space-around;
		border-bottom: 1px solid black;
		height: 300px;
		padding-left: 15%;
		padding-right: 15%;
	}

	.header_image {
		height: 300px;
	}

	.header_title {
		font-size: 50px;
		font-weight: 400;
		font-family: "Source Serif Pro", serif;
	}

	.header_text {
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		font-weight: 200;
	}
}

@media only screen and (max-width: 1200px) {
	.Logged_out_header {
		margin: 0 !important;
		display: flex;
		background-color: #fec017;
		justify-content: space-around;
		border-bottom: 1px solid black;
		height: 350px;
		padding-left: 15%;
		padding-right: 15%;
	}

	.header_image {
		height: 350px;
	}

	.header_title {
		font-size: 45px;
		font-weight: 400;
		font-family: "Source Serif Pro", serif;
	}

	.header_text {
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		font-weight: 200;
	}
}


.start-title {
	font-size: 50px;
	margin-top: 40px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	width: 100%;
	text-align: center;
	margin-bottom: 80px;
	text-decoration: underline;
	text-decoration-color: #fec017;
}

.feature-title {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	text-decoration: underline;
	text-decoration-color: #fec017;
}

.feature-text {
	font-family: "Open Sans", sans-serif !important;
	font-size: 14px;
}

.sign-image {
	width: 400px;
	height: auto;
	position: relative;
	transform: translate(10px, -10px);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.sign-image:hover {
	box-shadow: none;
	transform: translate(8px, -8px);
}

.bg-dots {
	width: 350px;
	height: auto;
	padding-left: 20px;
}

.card-wrapper-2 {
	display: flex;
	flex-direction: column;
}

.card-1 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.card-2 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.card-3 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}