.Logged_out_header {
	margin: 0 !important;
	display: flex;
	background-color: #fec017;
	justify-content: space-around;
	border-bottom: 1px solid black;
	height: 400px;
	padding-left: 15%;
	padding-right: 15%;
}

.header_image {
	height: 400px;
}

.header_title {
	font-size: 70px;
	font-weight: 400;
	font-family: "Source Serif Pro", serif;
}

.header_text {
	font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1000px) {
	.Logged_out_header {
		margin: 0 !important;
		display: flex;
		background-color: #fec017;
		justify-content: space-around;
		border-bottom: 1px solid black;
		height: 300px;
		padding-left: 15%;
		padding-right: 15%;
	}

	.header_image {
		height: 300px;
	}

	.header_title {
		font-size: 50px;
		font-weight: 400;
		font-family: "Source Serif Pro", serif;
	}

	.header_text {
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		font-weight: 200;
	}
}
