/* TODO Add site wide styles */

html {
	max-height: 100vh;
	max-width: 100vw;
}

body {
	margin: 0;
	max-height: 100vh;
	max-width: 100vw;
}

.header {
	background-color: #fec017 !important;
	width: 100%;
	margin: 0;
}

* {
	overflow-x: hidden;
}
